* {
    outline: 2px solid red;
}

.game-container {
    display: flex;
    flex-direction: column;
    color: white;
    font-family: "Handelson W00 Two", cursive;
    align-items: center;
    font-size: 50px;
    
}

body {
    background-color: black;
}

.title {
    display: flex;
    flex-direction: column;
    font-size: 90px;
    text-align: center;
    color: #f85001;
    transform: rotate(-10deg);
}

.paper {
    color: #15789a;
    margin-top: -50px;
}

.scissors {
    margin-top: -50px;
}