/* * {
    outline: 2px solid red;
} */

.game-container {
    display: flex;
    flex-direction: column;
    color: white;
    font-family: "Handelson W00 Two", cursive;
    align-items: center;
    font-size: 50px;
    
}

body {
    background-color: black;
}

.title {
    display: flex;
    flex-direction: column;
    font-size: 90px;
    text-align: center;
    color: #f85001;
    transform: rotate(-10deg);
}

.paper {
    color: #15789a;
    margin-top: -50px;
}

.scissors {
    margin-top: -50px;
}

.game-container img {
    display: block;
    width: 225px;        /* adjust size if you like */
    cursor: pointer;
}

/* Wiggle when hovered */
.game-container img:hover {
    animation: wiggle 0.6s ease-in-out infinite;
}

/* Define the wiggle animation */
@keyframes wiggle {
    0%   { transform: rotate(0deg); }
    25%  { transform: rotate(3deg); }
    50%  { transform: rotate(-3deg); }
    75%  { transform: rotate(2deg); }
    100% { transform: rotate(0deg); }
}